/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
    /* если шрифт не загрузится Montserrat загрузится стандартные шрифты Arial или sans-serif*/
    font-family: "Montserrat" ,"Arial",sans-serif;
    background: url('images/bg.png') top; 
    background-color: #f4f9ff;
    font-size: 12px;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

}

.header {
    margin: 0 auto;
    width: 100%;
    padding-top: 20px;
}

.header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;

}

.header-logo {
    display: block;
    width: 47px;
    height: 52px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.header-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 0 10px;
    -ms-flex-item-align: center;
        align-self: center;
    word-wrap: normal;

}

.header-head b {
    font-weight: 600;
    margin-left: 15px;
}

.header-sub {
    width: 300px;
    margin: 15px auto;
    font-size: 9px;
    color: rgba(29, 36, 51, 0.5);
    text-align: center;
}

/* MAIN */



.main {
    position: relative;
    margin: 0;
    z-index: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.main-wrapper {
    position: relative;
    background: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
            box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
    border-radius: 10px;
    max-width: 335px;
}

.main-dot__red {
    position: absolute;
    left: 20px;
    top: 15px;
    max-width: 5px;
    width: 100%;
    max-height: 5px;
    height: 100%;
    border-radius: 50%;
    background: #FF6259;
}
.main-dot__yellow {
    position: absolute;
    left: 26px;
    top: 15px;
    max-width: 5px;
    width: 100%;
    max-height: 5px;
    height: 100%;
    border-radius: 50%;
    margin-left: 6px;
    background: #FFC23D;
}
.main-dot__green {
    position: absolute;
    left: 32px;
    top: 15px;
    max-width: 5px;
    width: 100%;
    max-height: 5px;
    height: 100%;
    border-radius: 50%;
    margin-left: 12px;
    background: #2DD04E;
}

.main-header {
    background: #FFFFFF;
    color: #1D2433;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #ececed;
    color: #1D2433;

}

ol {
    margin: 4% 0;
    text-align: center;
    list-style-position: inside;
    -moz-column-count: 1; /* Firefox */
    -webkit-column-count: 1; /* Safari and Chrome */
    column-count: 1;
    list-style-type: decimal;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
}
li {
    list-style: none;
    color: rgba(29, 36, 51, 0.5);
    padding: 4px 0 4px 0;
    font-size: 12.9221px;
}

.main-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px auto 20px;
    width: 115px;
    height: 30px;
    background: #5887FF;
    border-radius: 15px;
    color: #fff;
    border: none;
    outline: 0;
    font-weight: bold;
    font-size: 10.765px;
}

.main-bottom {
    width: 90%;
    height: 20px;
    background-color: rgba(49, 45, 45, 0.144);  
    position: absolute;
    left: 5%;
    bottom: -10px;
    -webkit-box-shadow: 0 13px 27px 19px rgba(0,0,0, 0.8);
            box-shadow: 0 13px 27px 19px rgba(0,0,0, 0.8);
    border-radius: 10px;
    z-index: -1;
    opacity: 0.1;
}
.main-bottom__blur {
    display: block;
    background: #000;
    mix-blend-mode: multiply;
    opacity: 0.71;
    -webkit-filter: blur(71.6647px);
            filter: blur(71.6647px);
    border-radius: 16.2037px;
    z-index: -1;
    height: 40px;
    width: 100%;
}

/* FOOTER */

.footer {
    background-color: #fff;
    min-height: 200px;
    margin-top: -50px;
    z-index: 0;
}

.footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 90px;
}

.social {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
}

.social-image {
    width: 35px;
    height: 35px;
    margin: 0 5px;
}

.copyright {
    text-align: center;
    margin: 15px 0;
}




@media (min-width: 768px) {
    .main-wrapper {
        background: #FFFFFF;
        margin: 0 auto;
        padding-bottom: 20px;
        -webkit-box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
                box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
        border-radius: 10px;
        max-width: 735px;
    }

    .main-dot__red {
        position: absolute;
        left: 20px;
        top: 15px;
        max-width: 5px;
        width: 100%;
        max-height: 5px;
        height: 100%;
        border-radius: 50%;
        background: #FF6259;
    }
    .main-dot__yellow {
        position: absolute;
        left: 26px;
        top: 15px;
        max-width: 5px;
        width: 100%;
        max-height: 5px;
        height: 100%;
        border-radius: 50%;
        margin-left: 6px;
        background: #FFC23D;
    }
    .main-dot__green {
        position: absolute;
        left: 32px;
        top: 15px;
        max-width: 5px;
        width: 100%;
        max-height: 5px;
        height: 100%;
        border-radius: 50%;
        margin-left: 12px;
        background: #2DD04E;
    }

    ol {
        margin: 4% auto;
        text-align: center;
        list-style-position: inside;
        -moz-column-count: 2; /* Firefox */
        -webkit-column-count: 2; /* Safari and Chrome */
        column-count: 2;
        list-style-type: decimal;
    }

    li {
        list-style: none;
        color: rgba(29, 36, 51, 0.5);
        padding: 4px 0 4px 30px;
        font-size: 12.9221px;
    }

    .social-image {
        width: 28px;
        height: 28px;
        margin: 0 5px;
    }

}


@media (min-width: 1152px) {

    .header {
        padding-top: 31px;
    }

    .header-head {
        font-size: 22px;
    }

    .header-sub {
        width: 429px;
        margin: 5px auto 20px;
        font-size: 11px;
        line-height: 20px;
        color: rgba(29, 36, 51, 0.5);
        text-align: center;
    }

    .main-header {
        font-size: 14px;
        padding: 19px 0 19px 14px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .main-btn {
        margin: 35px auto 7px;
    }

    .main-wrapper {
        position: relative;
        background: #FFFFFF;
        margin: 0 auto;
        padding-bottom: 20px;
        -webkit-box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
                box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
        border-radius: 10px;
        min-width: 320px;
        
    }

    .main-dot__red {
        position: absolute;
        left: 34px;
        top: 25px;
        max-width: 5px;
        width: 100%;
        max-height: 5px;
        height: 100%;
        border-radius: 50%;
        background: #FF6259;
    }
    .main-dot__yellow {
        position: absolute;
        left: 40px;
        top: 25px;
        max-width: 5px;
        width: 100%;
        max-height: 5px;
        height: 100%;
        border-radius: 50%;
        margin-left: 6px;
        background: #FFC23D;
    }
    .main-dot__green {
        position: absolute;
        left: 46px;
        top: 25px;
        max-width: 5px;
        width: 100%;
        max-height: 5px;
        height: 100%;
        border-radius: 50%;
        margin-left: 12px;
        background: #2DD04E;
    }

    .main-bottom__blur {
        display: block;
        background: #000;
        mix-blend-mode: multiply;
        opacity: 0.71;
        -webkit-filter: blur(61.6647px);
                filter: blur(61.6647px);
        border-radius: 16.2037px;
        z-index: -1;
        height: 40px;
        width: 100%;
    }


    ol {
        margin: 27px auto 0px;
        text-align: left;
        list-style-position: inside;
        -moz-column-count: 3; /* Firefox */
        -webkit-column-count: 3; /* Safari and Chrome */
        column-count: 3;
        list-style-type: decimal;
    }

    li {
        list-style: none;
        color: rgba(29, 36, 51, 0.5);
        padding: 5px 0 4px 45px;
        font-size: 12.9221px;
    }


    .footer {
        min-height: 163px;
    }

    .footer-wrapper {
        padding-top: 56px;
    }

    .social-image {
        width: 22.35px;
        height: 22.35px;
        margin: 0 5px;
    }

}