body {
    /* если шрифт не загрузится Montserrat загрузится стандартные шрифты Arial или sans-serif*/
    font-family: "Montserrat" ,"Arial",sans-serif;
    background: url('images/bg.png') center; 
    background-color: #f4f9ff;
    font-size: 12px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.header {
    margin: 0 auto;
    width: 100%;
    padding-top: 20px;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

}

.header-logo {
    display: block;
    width: 47px;
    height: 52px;
    align-self: center;
}

.header-head {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 0 10px;
    align-self: center;
    word-wrap: normal;

}

.header-head b {
    font-weight: 600;
    margin-left: 15px;
}

.header-sub {
    width: 300px;
    margin: 15px auto;
    font-size: 9px;
    color: rgba(29, 36, 51, 0.5);
    text-align: center;
}

/* MAIN */



.main {
    position: relative;
    margin: 0;
    z-index: 1;
    flex: 1;
}

.main-wrapper {
    position: relative;
    background: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 20px;
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.4);
    border-radius: 10px;
    max-width: 335px;
}

.main-header {
    background: #FFFFFF;
    color: #1D2433;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    margin: 0 auto;
    width: 80%;

}

.main-list {
    border-top: 1px solid #ececed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgba(29, 36, 51, 0.5);   
}

.main-item {
    text-align: center;
    padding: 4px 0;
}

.main-btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    margin: 15px auto;
    width: 115px;
    height: 30px;
    background: #5887FF;
    border-radius: 15px;
    color: #fff;
    border: none;
    outline: 0;
    font-size: 9px;
}

.main-bottom {
    width: 90%;
    height: 10px;
    background-color: #fff;    
    position: absolute;
    left: 5%;
    bottom: -10px;
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.4);
    border-radius: 10px;
    z-index: -1;
    opacity: 0.8;
}

/* FOOTER */

.footer {
    background-color: #fff;
    min-height: 200px;
    margin-top: -50px;
    z-index: 0;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 90px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.social-image {
    width: 35px;
    height: 35px;
    margin: 0 5px;
}

.copyright {
    text-align: center;
    margin: 15px 0;
}




@media (min-width: 768px) {
    .main-wrapper {
        background: #FFFFFF;
        margin: 0 auto;
        padding-bottom: 20px;
        box-shadow: 0 6px 7px -4px rgba(0,0,0,0.4);
        border-radius: 10px;
        max-width: 735px;
    }

    .main-list {
        padding: 15px 20% 0;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-item {
        text-align: left;
        width: 46%;
        margin-left: 1%;
        padding-left: 10%;
        box-sizing: border-box;
    }

}


@media (min-width: 1220px) {
    .header-sub {
        width: 429px;
        margin: 15px auto;
        font-size: 11px;
        color: rgba(29, 36, 51, 0.5);
        text-align: center;
    }
 .main-list {
        padding: 15px 10% 0;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-item {
        text-align: left;
        width: 30%;
        margin-left: 1%;
        padding-left: 10%;
        box-sizing: border-box;
    }

}